.quantityButton {
  border: none !important;
  background-color: var(--bs-dark-border-subtle);
  display: flex;
  justify-content: center;
}
.quantityButton.minus {
  border-top-right-radius: "5";
  border-bottom-right-radius: "5";
}
.quantityButton:disabled {
  background-color: var(--bs-danger-border-subtle);
}
.addToCart {
  border: none !important;
  background: var(--bs-success);
  align-items: center;
  display: flex !important;
  text-align: center;
  justify-content: center;
}
