.my-navbar {
  height: 10vh; /* Set the navbar height to 10% of viewport height */
}

.my-navbar .navbar-brand,
.my-navbar .nav-link,
.my-navbar .dropdown-toggle {
  font-size: calc(10vh * 0.25); /* Adjust as needed */
}

.cartItemCounter {
  font-size: calc(10vh * 0.3); /* Adjust as needed */
}
